 body{
    background-color: green;
    margin: 0;
    padding: 0;
 }

 h1 {
    color:orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }
 
 p {
    color:beige;
 }
 
 ul{
    color: white;
 }

 header{
    background-color: beige;
    text-align: center;
    margin: 0%;
    padding: 0%;
 }

 img source

 
 

 
 
 